MT/.vscode/launch.json
MT/.vscode/launch.json
BFC/.vscode/settings.json
MT/.vscode/settings.json
MT/untitled_project/oracle.json
MT/untitled_project/trial_aaa4f9e9f78b8f88f29519c8cab2988d/trial.json
MT/.vscode/settings.json
.gitignore
SCT/.vscode/launch.json
MLTK/__pycache__/*
*.pyc
kappa/text/thesis.log
kappa/text/thesis.pdf
kappa/text/thesis.synctex.gz
kappa/text/thesis.fdb_latexmk
*.aux
*.sty
*.fls
*.out
*.gz
kappa/text/thesis.synctex.gz
*.aux
